.electrical-services {

    padding-left: 10px;
}

.areas-we-cover {

    .map-thumbnail {

        border: 2px solid #2a536c;
    }
}

.contact-numbers {

    padding-left: 20px;

    .contact-number {

        color: #275268;
        font-size: 29px;
        font-weight: bold;
        line-height: 32px;
        margin-bottom: 10px;
        padding-left: 42px;
        text-shadow: 1px 1px 2px #fff;
    }

    .landline {

        background: url(../images/telephone-icon.png) no-repeat;
    }

    .mobile {

        background: url(../images/mobile-icon.png) no-repeat;
    }
}