* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: #fa0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    background: url(../images/two-colour-line.gif) no-repeat 0 100%;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 22px;
}

p {
    margin-bottom: 10px;
}

label {
    color: #999;
    font-size: 18px;
}
input, textarea {
    border: 1px solid #2a536c;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
}

abbr {
    cursor: help;
}

ul.bulleted li {
    background: url(../images/plug-icon.png) no-repeat;
    line-height: 17px;
    margin-bottom: 10px;
    padding-left: 20px;
}

div.clear {
    clear: both;
    height: 0;
    line-height: 0;
}

#wrapper {
    margin: 0 auto;
    width: 950px;
}

#top {
    border-bottom: 2px solid #2b6380;
    border-top: 3px solid #2b6380;
    margin-bottom: 1px;
    padding: 8px;
}

#logo {
    float: left;
}
#logo img {
    border: none;
    display: block;
}

#topContactDetails {
    color: #315b75;
    float: right;
    text-align: right;
}
#topContactDetails .tagline {
    display: block;
    font-size: 15pt;
    font-style: italic;
}
#topContactDetails .telephoneNumber {
    display: block;
    font-size: 20pt;
    font-weight: bold;
}
#topContactDetails .email {
    color: #315b75;
    display: block;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
}

#menu {
    background: #2b6380; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b6380 0%, #2b6380 33%, #4490b7 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b6380), color-stop(33%,#2b6380), color-stop(66%,#4490b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b6380 0%,#2b6380 33%,#4490b7 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b6380 0%,#2b6380 33%,#4490b7 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b6380 0%,#2b6380 33%,#4490b7 66%); /* IE10+ */
    background: linear-gradient(top,  #2b6380 0%,#2b6380 33%,#4490b7 66%); /* W3C */
    clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6380', endColorstr='#4490b7',GradientType=0 ); /* IE6-8 */
    height: 55px;
    margin-bottom: 1px;
}
.explorer9 #menu {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiNjM4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzJiNjM4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzQ0OTBiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    filter: none;
}

#menu ul {
    height: 55px;
}
#menu li {
    border-left: 1px solid #2e6682;
    border-right: 1px solid #659fbd;
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 188px;
}
#menu li.first {
    border-left: none;
    width: 189px;
}
#menu li.last {
    border-right: none;
    width: 189px;
}
#menu a {
    color: #fff;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 1px 3px #000;
}

#content {
    background: #2b6380; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMyYjYzODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ5MGI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #2b6380 60%, #4490b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#2b6380), color-stop(100%,#4490b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b6380 60%,#4490b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b6380 60%,#4490b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b6380 60%,#4490b7 100%); /* IE10+ */
    background: linear-gradient(top,  #2b6380 60%,#4490b7 100%); /* W3C */
    border-top: 2px solid #2B6380;
    padding: 10px;
}
.explorer9 #content {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiNjM4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzJiNjM4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzQ0OTBiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}

.row {
    clear: both;
    margin-bottom: 10px;
}
.row.last {
    margin-bottom: 0;
}

#welcomeBlock {
    background: #5686a3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(-45deg,  #5686a3 0%, #497996 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5686a3), color-stop(100%,#497996)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #5686a3 0%,#497996 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #5686a3 0%,#497996 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #5686a3 0%,#497996 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #5686a3 0%,#497996 100%); /* W3C */
    border: 1px solid #2d536b;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5686a3', endColorstr='#497996',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    float: left;
    margin-right: 20px;
    padding: 20px;
    width: 578px;
}
.explorer9 #welcomeBlock {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTY4NmEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5Nzk5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    filter: none;
}
#welcomeBlock .intro {
    background: url(../images/lightbulb-bordered.jpg) no-repeat;
    min-height: 106px;
    padding-left: 170px;
}
#welcomeBlock ul.bulleted {
    margin-top: 20px;
    padding-left: 10px;
}
#welcomeBlock ul.bulleted li {
    display: inline-block;
    width: 167px;
}
#welcomeBlock a.servicesLink {
    float: right;
}

#quoteForm {
    float: left;
    padding-top: 20px;
    width: 280px;
}
#quoteForm li {
    background: #fff;
    border: 1px solid #2a536c;
    margin-bottom: 5px;
    padding: 3px;
    position: relative;
}
#quoteForm li label {
    position: absolute;
}
#quoteForm li input,
#quoteForm li textarea {
    background: transparent;
    border: none;
    display: block;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

#areasWeCover {
    float: left;
    margin-right: 20px;
    width: 620px;
}
#areasWeCover .mapThumb {
    border: 2px solid #2a536c;
    float: left;
    margin-right: 10px;
}

#preferAChat {
    float: left;
    width: 280px;
}

.oneBorder {
    background: #2b6380;
    height: 2px;
    line-height: 2px;
    margin-bottom: 1px;
}
.twoBorder {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.twoBorder .border1,
.twoBorder .border2 {
    background: #fa0;
    height: 2px;
    line-height: 2px;
}
.twoBorder .border2 {
    background: #2b6380;
    border-top: 1px solid #fff;
}

.contactNumbers {
    margin-top: 20px;
    padding-left: 20px;
}
.contactNumbers li {
    color: #275268;
    font-size: 29px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 10px;
    padding-left: 42px;
    text-shadow: 1px 1px 2px #FFF;
}
.contactNumbers .landline {
    background: url(../images/telephone-icon.png) no-repeat;
}
.contactNumbers .mobile {
    background: url(../images/mobile-icon.png) no-repeat;
}

#footer,
#footer a {
    color: #315b75;
}
#footer a {
    line-height: 1;
}
#footer {
    padding: 15px 20px;
}
#footer .copyright {
    float: left;
}
#footer .baseMenu {
    float: right;
}
#footer .baseMenu li {
    border-right: 1px solid #275268;
    float: left;
    padding: 0 8px;
}
#footer .baseMenu li.last {
    border: none;
    padding-right: 0;
}

.servicesGallery {
    padding: 0 10px;
}
.servicesGallery .galleryImage {
    margin-bottom: 10px;
    text-align: center;
}
.servicesGallery .galleryImage img {
    border: 2px solid #1a5270;
    margin-bottom: 5px;
}
.servicesGallery .galleryImage a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.servicesGallery .galleryImage a:hover {
    text-decoration: underline;
}
.servicesGallery .galleryImage a:hover img {
    border-color: #fff;
}
.servicesGallery .galleryImage .linkText {
    display: block;
    margin-bottom: 5px;
}
.servicesGallery li {
    float: left;
    margin-right: 35px;
}
.servicesGallery li.endOfRow {
    margin-right: 0;
}
.servicesGallery .galleryImage .servicesList {
    display: none;
}
.servicesList li {
    display: inline-block;
    min-width: 210px;
}

.map {
    margin-bottom: 10px;
    text-align: center;
}
.map img {
    border: 2px solid #2A536C;
}

.contactColumns #quoteForm,
.contactColumns #preferAChat {
    float: none;
    padding-top: 0;
    width: auto;
}
.contactColumns .column {
    float: left;
    margin-right: 15px;
    width: 300px;
}
.contactColumns .last {
    margin-right: 0;
}
#quoteForm li.submitButtonWrapper {
    background: transparent;
    border: none;
    padding: 0;
    text-align: right;
}
#quoteForm .submitButton {
    background: url(../images/submit-button-bg.png) no-repeat;
    border: none;
    color: #fa0;
    cursor: pointer;
    font-size: 18px;
    height: 36px;
    text-align: center;
    width: 124px;
}
#quoteForm .submitButton span {
    text-shadow: 1px 1px 3px #000;
}

.emailAddressFeature {
    margin-bottom: 15px;
    text-align: center;
}
.emailAddressFeature a {
    font-size: 18px;
    font-weight: bold;
}

.carpentryImage {
    border: 2px solid #2a536c;
    float: right;
}

.carpentryList {
    padding-left: 15px;
}

.sentConfirmation {
    background: #CFC;
    border: 1px solid #090;
    color: #090;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
}


/* UI mods */

.ui-dialog {
    background: #4B83A0;
}
.ui-widget-content {
    color: #fff;
}
.ui-dialog .ui-dialog-content {
    padding-top: 16px;
}